:root{
    --font-texto: "Madimi One", sans-serif;
    --transition-duration: 5s;
    --verde: #01ff01;
}

*{
    padding: 0%;
    margin: 0%;
}

body {
    min-height: 100vh;
    background-image: url(../img/dia.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

#jogo{
    height: 1000px;
    width: 100vh;
    border: 10px solid black;
    margin: auto;
    overflow: hidden;
}

#cano{
    width: 30px;
    height: 1000px;
    position: relative;
    left: 1550px;
    animation: canoTransition var(--transition-duration) infinite linear;
}

@keyframes canoTransition {
    0% {
        left: 100%; 
    }
    100%{
        left: 0%;
    }
}


#passagem{
    width: 100px;
    height: 250px;
    position: relative;
    left: 1550px;
    top: -500px;
    animation: canoTransition var(--transition-duration) infinite linear;
}
