:root {
    --font-texto: "Madimi One", sans-serif;
    --transition-duration: 3s;
    --verde: #01ff01;
    --branco: #f0f0f0;
    --azul: #1bffff;
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    min-height: 100vh;
    background-image: url(../img/dia.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#jogo {
    height: 1000px;
    width: 100vh;
    border: 10px solid black;
    margin: auto;
    overflow: hidden;
}

.placar {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
    font-size: var(--font-texto);
    font-size: 25px;
}

.iniciar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    font-family: var(--font-texto);
    border-radius: 2em;
}

.perdeu {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    font-family: var(--font-texto);
    border-radius: 2em;
    font-size: 200px;
    display: none;
}

.restart {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    font-family: var(--font-texto);
    border-radius: 2em;
    display: none;
}


#colisao {
    width: 100px;
    height: 1000px;
    position: relative;
    left: 1550px;
    background-color: var(--verde);
    animation: canoTransition var(--transition-duration) infinite linear;
}

@keyframes canoTransition {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

#passagem {
    width: 100px;
    height: 250px;
    position: relative;
    left: 1550px;
    top: -500px;
    background-color: var(--azul);
    animation: canoTransition var(--transition-duration) infinite linear;
}


.passaro {
    width: 115px;
    height: 50px;
    position: absolute;
    top: 500px;
    border-radius: 10%;
}